<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shorcut icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static',filename='ai.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>TradeSim Generate ETF</title>
</head>

<body>
<div>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a class="logo" href="https://epiuselabs.com" target="_blank"><img src="static/EPI-USELabs_Logo_White.png"
                                                                               height="50"></a>
             <a href="#" class="brand-logo center" ><img src="static/aipi_logo.png"  width="40%" height="auto" style="position: relative; " ></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="/home">Home</a></li>
                <li class="tab"><a href="/addETF">Manage</a></li>
                <li class="tab"><a href="/compare-date">Compare</a></li>
                <li class="tab"><a href="/ticker">Tickers</a></li>
                <li class="tab"><a href="/AIEtf">AI ETF</a></li>
            </ul>
        </div>
    </nav>
    <div id="loader">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row main-div container">
        <div class="input-field">
            <select id="options">
                <option value="" disabled selected hidden>Choose Year:</option>
                <option value="2015-01-01" id="2015-01-01">2015</option>
                <option value="2016-01-01" id="2016-01-01">2016</option>
                <option value="2017-01-01" id="2017-01-01">2017</option>
                <option value="2018-01-01" id="2018-01-01">2018</option>
                <option value="2019-01-01" id="2019-01-01">2019</option>
                <option value="2020-01-01" id="2020-01-01">2020</option>
                <option value="2021-01-01" id="2021-01-01">2021</option>

            </select>

            <a class="waves-effect waves-light btn blue right mt-4" onclick="getwow()"> Confirm </a>
        </div>
        <div id="graph-content" class="col-lg-8 col-md-12 col-sm-12 main-body">
            <div class="row">
                <div class="create-header">

                </div>
            </div>

        </div>
        <div id="chart" style="width:900px;height:400px;"></div>

        <ul class="collapsible" data-collapsoble="accordion" id="stocklist">
        </ul>
        <ul class="collapsible" data-collapsoble="accordion" id="ruleslists">
        </ul>
    </div>
</div>
</body>
</html>
