<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Bootstrap Link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>
    <!--Bootstrap JS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static',filename='home.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>TradeSim Home</title>
</head>

<body>
<div class="container">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a class="logo" href="https://epiuselabs.com" target="_blank"><img src="static/EPI-USELabs_Logo_White.png"
                                                                               height="50"></a>
            <a href="#" class="brand-logo center">TradeSim</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="/home">Home</a></li>
                <li class="tab"><a href="/addETF">Manage</a></li>
                <li class="tab"><a href="/compare-date">Compare</a></li>
                <li class="tab"><a href="/ticker">Tickers</a></li>
            </ul>
        </div>
    </nav>

    <div class="row main-div">
        <div id="loader">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div id="graph-content" class="col-8 main-body">
            <div class="row">
                <div class="create-header">
                    {#                        <h1>Home</h1>#}
                </div>
            </div>


            <div class="create-header">
                {#                    <h2>Your ETF's</h2>#}
            </div>
            <div id="loading"></div>
            <script>getETFS()</script>
            <a id="etfs"> </a>

        </div>
        <div id="news-content" class="col-4">
            <a class='dropdown-trigger btn blue col-12 mt-2' href='#' data-target='dropdown'>Category</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown' class='dropdown-content'>
                <li value="general" onclick="getNews('general')"><a href="#!">General</a></li>
                <li class="divider" tabindex="-1"></li>
                <li value="crypto" onclick="getNews('crypto')"><a href="#!">Crypto</a></li>
                <li class="divider" tabindex="-1"></li>
                <li value="forex" onclick="getNews('forex')"><a href="#!">Forex</a></li>
                <li class="divider" tabindex="-1"></li>
                <li value="merger" onclick="getNews('merger')"><a href="#!">Merger</a></li>
            </ul>
            <ul class="collection" id="news-col">
                {#                <li class="collection-header"><h4>News</h4></li>#}

            </ul>
        </div>
    </div>
    <div id="homeTab" class="col s12"></div>
    <div id="manageTab" class="col s12"></div>
    <div id="compareTab" class="col s12"></div>
</div>
</body>
</html>