/* position logo */
.logo img{
    padding: 10px 0 0 15px;
}

/* remove collapsible panel shadow */
.collapsible {
    box-shadow: none;
}

.etfList {
    padding: 10px 0 0 0;
}

.etfList a {
    width: 49%;
    margin: 0 0 10px 0;
}

.etfList .material-icons {
    margin-right: 5px;
}
