body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}
input,
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  /* remove underline from anchors */
}

button{
    background-color: #000583 !important;
    color: white;
}

input{ border: 1px solid black }

span.psw {
  float: right;
  padding-top: 16px;
}

.main{
    width: 50%;
}

#login{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#logo-div{
    background-color: #000583;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-body{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h2{
    font-size: 15px;
    color: gray;
}

h1{
    font-size: 25px;
}

.app-name{
    color: white;
}