.main-div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.side-nav{
    background-color: beige;
    width: 20%;
}

a{
    display: list-item;
    
}

.main-body{

}