.main-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.side-nav {
    background-color: white;
    width: 20%;
}

.side-nav a {
    display: list-item;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 20px;
    border-bottom: 1px solid black;
    color: #202254;
}

.side-nav a:hover {
    background-color: gray;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.main-body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /*width: 1100px*/
}

.epiuse-logo {
    padding-top: 40%;
    position: relative;
    bottom: 55%;
    left: 420%;
}

input {
    width: 276px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid black;
}

.input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid black;
    background-color: white;
}

h1 {
    display: flex;
    justify-content: flex-start;
    color: #202254;
    font-weight: bolder;
    font-size: 32;
    width: 200px;
}

h2 {
    color: #2022548d;
}

h3 {
    color: #2022548d;
    font-size: 17px;
}

.search-avatar {
    width: 350px;
    margin-left: auto;
    margin-right: 0;
}

svg {
    padding-left: 5px;
}

.create-header {
    width: 200px;
}

.etf-body {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card {
    margin-top: 50px;
    background-color: #202254;
}

label {
    color: white;
}

.create-button-div {
    width: 20%;
    /*116px*/
    height: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.create-btn {
    background-color: #202254;
    color: white;
    border-radius: 20px;
}

.graph-mock {
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
}

.graph {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}


/* drop down add rules */

.custom-select {
    position: relative;
    left: 10px;
    font-family: Arial;
}

.select-selected {
    background-color: white;
}

.card2 {
    margin-top: 50px;
    background-color: #202254;
    height: 40px;
    display: inline-block;
    width: 1100px;
}

.create-button-div {
    width: 116px;
    height: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
