nav {
    background-color: #3F5161 !important;
}

#loader {
    display: none;
}

#loader.show {
    display: inline-block;
}
#results{
    display: none;
}

#results.show{
    display: inline-block;
}